<mat-form-field>
    <mat-select placeholder="Gender" [(ngModel)]="claim.claimValue" class="col-sm">
        <mat-option *ngFor="let gender of genders" [value]="gender.value">{{ gender.name }}</mat-option>
    </mat-select>
</mat-form-field>
