<div class="container-fluid">
    <div class="row page-header">
        <div class="col">
            <h1>Users</h1>
        </div>
        <div class="col">
            <mat-form-field floatPlaceholder="never" class="float-right">
                <input matInput #filter placeholder="Filter users">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a [routerLink]="['/admin/users/new']" mat-fab color="accent" class="add-button">
                <mat-icon>add</mat-icon>
            </a>
            <mat-table #table [dataSource]="users">
                <ng-container matColumnDef="link">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <a [routerLink]="['/admin/users', user.id]">
                            <mat-icon>search</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let user" [ngStyle]="{ 'color': user.emailConfirmed ? 'green': 'red' }">
                        {{ user.email ? user.email : "(null)" }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="givenname">
                    <mat-header-cell *matHeaderCellDef> Given Name </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{ user | claim:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="surname">
                    <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
                    <mat-cell *matCellDef="let user">{{ user | claim:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
            <mat-paginator #paginator [length]="users.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>
</div>
