<mat-toolbar color="primary" class="mat-typography mat-elevation-z4">
    <img src="/favicon.ico" />&nbsp;Angular Material 2 App
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-6 ml-mat-auto mr-mat-auto">
            <form name="form" (ngSubmit)="login()">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <img src="/favicon.ico" />
                        </div>
                        <mat-card-title>Unauthorized</mat-card-title>
                        <mat-card-subtitle>You cannot access to this resource using your identity, please login with a different one.</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <mat-form-field class="col">
                                <input matInput placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col">
                                <input matInput placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required type="password">
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>
                        <button [disabled]="loading" mat-raised-button color="primary" (click)="login()">
                            Login
                        </button>
                        <a [routerLink]="['/register']" mat-button color="primary">Register</a>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>