mat-card {
    margin-top: calc(20vh);
    
    mat-progress-spinner {
        height: 2em;
        float: left;
        width: 2em;
        line-height: 1em;
        margin-top: 0.3em;
        margin-right: 1em;
    }
}

