<div class="mat-typography">
    <div class="mat-elevation-z6">
        <mat-toolbar color="primary">
            <a [routerLink]="['/']"><img src="/favicon.ico" />&nbsp;Angular Material 2 App</a>
        </mat-toolbar>
    </div>
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" [opened]="isAuthenticated" class="mat-elevation-z4">
            <app-admin-nav></app-admin-nav>
        </mat-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>
