.mat-elevation-z6 {
  position: relative;
  z-index: 10;
}

mat-sidenav-container {
  min-height: calc(100vh - 64px);
}

@media (max-width: 840px) {
  mat-sidenav {
    display: none;
    mat-sidenav-content{
      margin-left: 0 !important
    }
  }
}
