<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN       " "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background: #ffffff; color: #808284; font-family: sans-serif; font-size: 15px; line-height: 1.5; margin: 0; width: 100%;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
        <tr>
            <td bgcolor="#ffffff" width="100%">
                <table class="main-wrapper" width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr>
                        <td class="cell" width="100%">
                            <div class="wrapper" style="-moz-border-radius: 3px; -webkit-border-radius: 3px; border: #e5e3d8 1px solid; border-radius: 3px; margin: 2%; padding: 5% 8%;">
                                <table class="content" width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td class="content-cell" width="100%">
                                            <p style="color: #808284; font-family: sans-serif; font-size: 15px; font-weight: normal; line-height: 1.5em; margin: 0; padding: 0 0 1.5em 0;">
                                                <%MAIL_CONTENT%>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="container" style="padding: 0 4%;">
                                <table class="footer" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="footer-cell" align="right" style="color: #888888; font-family: sans-serif; font-size: 11px; line-height: 1.3; padding: 0 0 20px 0;">
                                            Sent by <a href="<%SENDER_URL%>" style="color: #5ba4e5;"><%SENDER_URL%></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
