<div class="container">
    <div class="row">
        <div class="col-6 ml-md-auto mr-md-auto">
            <form name="form" (ngSubmit)="login()">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <img src="/favicon.ico" />
                        </div>
                        <mat-card-title>Authentication</mat-card-title>
                        <mat-card-subtitle>Please enter your credentials</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <mat-form-field class="col">
                                <input matInput placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col">
                                <input matInput placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required type="password">
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate" [diameter]="30" strokeWidth="5"></mat-progress-spinner>
                        <button [disabled]="loading" mat-raised-button color="primary" (click)="login()">
                            Login
                        </button>
                        <a [disabled]="loading" [routerLink]="['/register']" mat-button color="primary">Register</a>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>