<nav appHasRole='["identity.readonly", 
                  "identity.fullaccess"]'>
    <h3>Admin</h3>
    <mat-list>
        <mat-list-item>
            <a [routerLink]="['/admin/users']">
                <mat-icon>supervisor_account</mat-icon> Users
            </a>
        </mat-list-item>
        <mat-list-item>
            <a [routerLink]="['/admin/roles']">
                <mat-icon>card_membership</mat-icon> Roles
            </a>
        </mat-list-item>
        <mat-list-item>
            <a [routerLink]="['/admin/clients']">
                <mat-icon>assessment</mat-icon> Clients
            </a>
        </mat-list-item>
        <mat-list-item>
            <a [routerLink]="['/admin/resources']">
                <mat-icon>business</mat-icon> Resources
            </a>
        </mat-list-item>
    </mat-list>
</nav>