<h1 mat-dialog-title>Add role to {{ data.claims | claim:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" }} {{ data.claims | claim:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" }}</h1>
<div mat-dialog-content>
    <p>Which role would you want to add ?</p>
    
    <mat-form-field>
        <input type="text" matInput [formControl]="rolesAutoComplete" [matAutocomplete]="roles">
    </mat-form-field>

    <mat-autocomplete #roles="matAutocomplete">
        <mat-option *ngFor="let role of data.roles" [value]="role.roleName">
            {{ role.roleName }}
        </mat-option>
    </mat-autocomplete>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="rolesAutoComplete.value" tabindex="2">Ok</button>
    <button mat-button [mat-dialog-close]="" tabindex="-1">Cancel</button>
</div>
