<mat-table #table [dataSource]="roles">

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Role name </mat-header-cell>
        <mat-cell *matCellDef="let role">
            {{ role }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let role">
            <button (click)="removeRole(role)" mat-button>
                    <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator [length]="roles.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<button mat-fab color="accent" class="add-button" (click)="selectRole()">
    <mat-icon>add</mat-icon>
</button>
