@import 'theme';

$bg-color: #fafafa;
$page-header-color: hsla(0, 0%, 100%, .87);
$header-input-text-color: #fff;
$header-input-focused-text-color: #fff;
$header-input-underline-color: rgba(255, 255, 255, .42);

body {
  background-color: $bg-color;
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  &[ng-reflect-router-link] {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: mat-color($app-accent, A400);
    }
  }
}

.mat-select {
  padding-left: 0;
  padding-right: 0;
  padding-top: 9px;

  .mat-select-placeholder {
    font-size: 14px;
    top: -16px !important;
  }

  .mat-select-trigger {
    font-size: 14px;
  }
}

.page-header {
  background-color: mat-color($app-primary);
  padding: 50px;

  h1 {
    color: $page-header-color;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
  }

  .mat-button-wrapper {
    mat-icon {
      color: $page-header-color;
    }
  }

  mat-form-field {
    &.mat-focused .mat-form-field-placeholder {
      color: $header-input-underline-color;
    }

    .mat-form-field-placeholder,
    input {
      color: $header-input-text-color;
    }

    .mat-input-underline {
      background-color: $header-input-underline-color;

      .mat-input-ripple {
        background-color: $header-input-text-color;
      }
    }
  }
}
