.container {
  margin-bottom: 12px;
}

fieldset {
  margin-top: 30px;

  legend {
    margin-bottom: 25px;
  }
}

.send-button {
  left: 50px;
  position: absolute;
  top: -28px;
}

mat-tab-group{
  margin-top: 7px;
}