<ng-template #loading>
    <loading-spinner></loading-spinner>
</ng-template>

<div *ngIf="load | async as form; else loading">
    <div class="container-fluid">
        <div class="row page-header">
            <div class="col">
                <h1 class="float-left">{{ form | claim:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" }} {{ form | claim:"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" }}</h1>
                <div class="float-right" *ngIf="routeParams && routeParams.has('id')">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="delete()">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <mat-card>
            <mat-card-content>
                <button mat-fab color="accent" class="send-button" (click)="send(form)">
                    <mat-icon>send</mat-icon>
                </button>
                <mat-tab-group>
                    <mat-tab label="General" [formGroup]="form">
                        <fieldset class="container">
                            <legend>User details</legend>
                            <div class="row">
                                <div class="col-sm">
                                    <mat-form-field>
                                        <input id="name" matInput #filter placeholder="Email" formControlName="email">
                                    </mat-form-field>
                                    <mat-error *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
                                        You must provide a valid e-mail address.
                                    </mat-error>
                                </div>
                                <gender-claim-input label="Gender" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/gender" [model]="form" class="col-sm"></gender-claim-input>
                            </div>
                            <div class="row">
                                <claim-input label="Given name" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" [model]="form" class="col-sm"></claim-input>
                                <claim-input label="Surname" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" [model]="form" class="col-sm"></claim-input>
                            </div>
                        </fieldset>
                        <fieldset class="container">
                            <legend>Address card</legend>
                            <div class="row">
                                <div class="col-sm">
                                    <claim-input label="Street address" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/streetaddress" [model]="form"></claim-input>
                                    <claim-input label="Postal code" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/postalcode" [model]="form"></claim-input>
                                    <claim-input label="City" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/locality" [model]="form"></claim-input>
                                    <claim-input label="Country" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/country" [model]="form"></claim-input>
                                </div>
                                <div class="col-sm">
                                    <claim-input label="Home phone" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/homephone" [model]="form"></claim-input>
                                    <claim-input label="Mobile phone" claimType="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/mobilephone" [model]="form"></claim-input>
                                </div>
                            </div>
                        </fieldset>
                    </mat-tab>
                    <mat-tab label="Roles">
                        <user-roles [user]="form"></user-roles>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>
