<div class="container">
    <div class="row">
        <div class="col-sm">
            <mat-progress-spinner color="accent" mode="indeterminate">
            </mat-progress-spinner>
        </div>
    </div>
</div>
