mat-list {
    padding-top: 0;
}

h3 {
    background: rgba(0, 0, 0, .32);
    text-transform: uppercase;
    font-size: 10px;
    color: hsla(0, 0%, 100%, .87);
    padding-left: 16px;
    padding-right: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

mat-list-item.mat-list-item {
    border-color: rgba(0, 0, 0, .06);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: rgba(0, 0, 0, .54);
}

mat-list-item mat-icon {
    margin-right: 16px;
}